@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: acgyosyo;
  src: url('/fonts/acgyosyo.ttf');
}
@font-face {
    font-family: ackaisyo;
    src: url('/fonts/ackaisyo.ttf');
}

.font-acgyosyo {
  font-family: acgyosyo, 英椎行書;
}
.font-ackaisyo {
  font-family: acgyosyo, 英椎楷書;
}